@using Web.Models
@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bazooka</title>

    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body class="Login">
    <div>
        <h1 class="Login__title">Bazooka</h1>
        <div class="Login__form">


            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-wertical", role = "form" }))
            {
                <h4 class="Login__header">Log in</h4>
                <h6 class="Login__subheader">Don't have an account? @Html.ActionLink("Create an account", "Register")</h6>
                <hr class="Login__separator"/>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="Login__label">Username</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "Login__field", placeholder="Username" })
                </div>
                        <div class="form-group">
                            <label class="Login__label">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "Login__field", placeholder="Password" })
                        </div>
                        <div class="form-group">
                                <div class="checkbox">
                                    <label class="Login__checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe) Remember me
                                    </label>                                  
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Log in" class="Login__submit" />
                            </div>
                        </div>
            }
        </div>
    </div>
</body>
</html>

