@using Web.Models
@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bazooka</title>

    <link href="~/Content/main.css" rel="stylesheet" />
</head >
<body class="Login">
    <div >
        <h1 class="Login__title">Bazooka</h1>
        <div class="Login__form">


            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-wertical", role = "form" }))
            {
                <h4 class="Login__header">Log in</h4>
                <h6 class="Login__subheader">Don't have an account? @Html.ActionLink("Create an account", "Register")</h6>
                <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                            <div class="">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                            <div class="">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                            </div>
                        </div>
            }
        </div>
    </div>
    </body>
</html>

