@model Web.Models.RegisterViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bazooka</title>

    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body class="Login">
    <div>
        <h1 class="Login__title">Bazooka</h1>
        <div class="Login__form">

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()
                            <h4 class="Login__header">Create a new account</h4>
                            <hr class="Login__separator" />
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "Login__label" })
                                @Html.TextBoxFor(m => m.UserName, new { @class = "Login__field" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "Login__label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "Login__field" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "Login__label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "Login__field" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "Login__label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "Login__field" })
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="">
                                    <input type="submit" class="Login__submit" value="Register" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
    
</body>
</html>